<!DOCTYPE html>

{% extends 'index.html' %}
{% block content %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Language</h4>

                    <form class="forms-sample" action="{% url 'SaveLanguage' %}" method="POST"
                        enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" name="langName" required>
                        </div>

                        <div class="form-group">
                            <label>Subtitle</label>
                            <input type="text" class="form-control" placeholder="Subtitle" name="langSubt" required>
                        </div>

                        <div class="form-group">
                            <label>Image</label>
                            <input type="file" class="form-control" name="langImg" required>
                        </div>

                        <button type="submit" class="btn btn-primary mr-2"><span>Submit</span></button>
                        <button class="btn btn-dark"><span>Cancel</span></button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}