* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*  ADDED-TO-MAIN-CSS-FOR-FAST-RENDERING-OF-BACKGROUND-IMAGE-VIA-URL  */
.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #002E48), url('../img/m1.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* END-HERE  */

.music img {
    width: 250px;
    height: 300px;
    border-radius: 20px 20px 20px 20px;
}

.music {
    width: 85%;
    padding: 30px;
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), #000);
    border-radius: 20px 20px 20px 20px;
    display: flex;
}

.info {
    color: #FFF;
    margin-left: 30px;
    flex: 1;
}

.info p {
    font-size: 20px;
    margin: 10px 0 10px;
}

#progress {
    -webkit-appearance: none;
    width: 90%;
    height: 6px;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
    background: #007BFF;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #007BFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #FFF;
    box-shadow: 0 5px 5px rgba(136, 136, 136, 0.22);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.controls div {
    width: 50px;
    height: 50px;
    margin: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #FFF;
    color: #007BFF;
    cursor: pointer;
}

.controls div:nth-child(2) {
    transform: scale(1.5);
    background: #007bff;
    color: #FFF;
}

.aux-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.aux-controls div {
    margin: 20px 5px;
    height: 50px;
    width: 50px;
    background: #FFF;
    color: #007BFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aux-controls div:nth-child(1) {
    border-radius: 5px 0 0 5px;
}

.aux-controls div:nth-child(2) {
    width: 150px;
    height: 50px;
    border-radius: 0 5px 5px 0;
    margin-left: -15px;
    margin-right: 20px;
    padding-right: 5px;
}

.aux-controls div:nth-child(5) {
    color: #007BFF;
    font-size: 25px;
}

.aux-controls div:nth-child(6) {
    color: #007BFF;
    font-size: 25px;
}

#vol {
    -webkit-appearance: none;
    background: #007BFF;
    border-radius: 5px;
    height: 3px;
}

#vol::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background: #007BFF;
    border-radius: 50%;
}

.aux-controls div button {
    cursor: pointer;
    border: transparent;
    background: transparent;
    color: #007BFF;
    font-size: 25px;
}

.aux-controls div button:focus {
    outline: none;
}

.secondary-aux-controls {
    margin-top: 100px;
    width: 90%;
    height: 20%;
    background-color: transparent;
}

.secondary-aux-controls select {
    margin: 20px;
    width: 30%;
    height: 40px;
    border: 2px solid #FFF;
    background-color: transparent;
    color: #FFF;
    border-radius: 5px 0 0 5px;
    border-right: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    font-weight: bold;
}

.secondary-aux-controls select option {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    font-weight: bold;
    color: #007BFF;
}

.secondary-aux-controls select:focus {
    outline: none;
}

.secondary-aux-controls button{
    margin-left: -25px;
    margin-top: -2px;
    height: 40px;
    border: 2px solid #FFF;
    color: #007BFF;
    background-color: transparent;
    border-radius: 0 5px 5px 0;
    border-left: 2px;
}

.secondary-aux-controls button i {
    font-size: 1.5rem;
    color: #007BFF;
}

.secondary-aux-controls a{
    margin-top: -2px;
    margin-left: 30px;
    height: 40px;
    color: #FFF;
    /* border: 2px solid #FFF; */
    background-color: transparent;
}

.secondary-aux-controls a span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.secondary-aux-controls a i {
    color: #007BFF;
}

.amor {
    text-decoration: none;
    color: #007BFF;
    font-size: 1rem;
    cursor: pointer;
}

#extra {
    display: none;
}

.navbar {
    width: 100%;
    height: 150px;
    /* background: #000; */
    margin-top: -100px;
}

.navbar ul li {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin-top: 60px;
    padding-right: 20px;
    padding-top: 30px;
}

.navbar ul:nth-child(1){
    margin-left: 5.2rem;
}

.navbar ul li a {
    margin-left: 20px;
}

.footer {
    margin-top: 30px;
}

.footer a {
    text-decoration: none;
}

.footer span {
    font-weight: bold;
}