<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'vendors/typicons/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/added.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-8 mx-auto">

                        <div class="auth-form-light text-left py-5 px-4 px-sm-5 mt-3">
                            <div class="brand-logo">
                                <img src="{% static 'images/logo-dark.svg' %}" alt="logo">
                            </div>
                            <h4>Hello! let's get started</h4>
                            <h6 class="font-weight-light">Sign Up to continue.</h6>

                            <form action="{% url 'SaveUser' %}" method="POST" name="form" onsubmit="return formVald()"
                                class="form-sample pt-3">
                                {% csrf_token %}

                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label text-uppercase">Name</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="name" class="form-control" placeholder="Name"
                                                    required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label text-uppercase">Email</label>
                                            <div class="col-sm-9">
                                                <input type="email" name="email" class="form-control"
                                                    placeholder="Email" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label text-uppercase">Username</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="uname" class="form-control"
                                                    placeholder="Username" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label text-uppercase">Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" id="pass" class="form-control"
                                                    placeholder="Password" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <button class="btn btn-block btn-info btn-lg auth-form-btn">
                                        <span class="font-weight-bold">SIGNUP</span>
                                    </button>
                                </div>

                                <div class="text-left mt-4 font-weight-light">
                                    <span>Already have an account?</span>
                                    <a href="{% url 'LoginPage' %}" class="text-primary">Login</a>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <!-- JQuery  -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        function formVald() {
            var x = document.getElementById("uname").value;
            var y = document.getElementById("pass").value;

            if (x.length < 4) {
                alert("Userame must contain atleast 4 alphabets")
                return false
            }
            else if (y.length < 4) {
                alert("Password must contain atleast 4 alphabets")
                return false
            }
        }
    </script>

    {% if messages %}
    {% for i in messages %}
    {% if i.tags == 'success' %}
    <script>
        swal('{{i}}', '', 'success')
    </script>
    {% elif i.tags == 'warning' %}
    <script>
        swal('{{i}}', '', 'warning')
    </script>
    {% elif i.tags == 'error' %}
    <script>
        swal('{{i}}', '', 'error')
    </script>
    {% else %}
    <script>
        swal('{{i}}', '', 'info')
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}

</body>

</html>