<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Display Genre</h4>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Genre Name</th>
                            <th>Genre Subtitle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in genre %}
                        <tr>
                            <td>{{i.Genre_Name}}</td>
                            <td>{{i.Genre_Subtitle}}</td>
                            <td>
                                <form action="">
                                    <button type="submit" class="btn btn-success">
                                        <span>Edit</span>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form action="{% url 'delete_genre' genreId=i.id %}">
                                    <button type="submit" class="btn btn-danger">
                                        <span>Delete</span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 
</body>

</html>
{% endblock %}