<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Audiocad</title>
	<!-- load CSS  -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<!-- static CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">
	<link rel="stylesheet" href="{% static 'css/lst/style.css' %}">

	<script>
		var renderPage = true;

		if (navigator.userAgent.indexOf('MSIE') !== -1
			|| navigator.appVersion.indexOf('Trident/') > 0) {

			alert("Please view this in a modern browser such as Chrome or Microsoft Edge.");
			renderPage = false;
		}
	</script>

</head>

<body>

	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>

	<div class="tm-main">

		<div class="tm-welcome-section half-navbar-top">
			<div class="container tm-navbar-container">
				<div class="row">
					<div class="col-xl-12">
						<nav class="navbar navbar-expand-sm">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item ">
                                    <a href="{% url 'frontindex' %}" class="nav-link tm-nav-link tm-text-white">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                {% if request.session.Username %}
                                <li class="nav-item">
                                    <a href="{% url 'ShowPlaylist' user_flt=request.session.Username %}"
                                        class="nav-link tm-nav-link tm-text-white">
                                        <i class="fa-solid fa-radio"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'frontabout' user_flt=request.session.Username %}"
                                        class="nav-link tm-nav-link tm-text-white">
                                        <i class="fa-solid fa-user"></i>
                                    </a>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a href="{% url 'LoginPage' %}" class="nav-link tm-nav-link tm-text-white">
                                        <i class="fa-solid fa-user-plus"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="tm-search-form-container" style="margin-bottom: 5rem;">
				<form action="" method="GET" class="form-inline tm-search-form">
					<div class="tm-new-release">
						<span class="font-weight-bold text-uppercase">Audiocad</span>
						<i class="fa-solid fa-music ml-2"></i>
					</div>
					<div class="form-group tm-search-box">
						<input type="text" name="keyword" class="form-control tm-search-input" autocomplete="off"
							placeholder="Type your keyword ...">
						<button type="submit" class="form-control tm-search-submit">
							<i class="fa-solid fa-magnifying-glass font-weight-bold mr-2"></i><span>Search</span>
						</button>
					</div>
					<div class="form-group tm-advanced-box">
						<a href="#" class="tm-text-white">Go Advanced ...</a>
					</div>
				</form>
			</div>

			<div class="top-card">
				<div class="card-body">
					<div class="details-box">
						<button type="submit" class="btn btn btn-light" id="more">
							<span class="font-weight-normal">More details</span>
							<i class="fa-solid fa-caret-down"></i>
						</button>
						<button type="submit" class="btn btn btn-light ml-2" id="less">
							<span class="font-weight-normal">Less details</span>
							<i class="fa-solid fa-caret-up"></i>
						</button>
					</div>
				</div>
			</div>

			<section>
				{% for i in audio %}
				<ol role="list" class="ol">

					<li class="li">
						<h3 id="h3">
							<a href="{% url 'SongFiltered' song_flt=i.Name %}">{{i.Name}} - {{i.Film}}</a>
						</h3>
						<p class="p">Starring {{i.Artist}}</p>

						<div class="extra-details">
							<a href="#"><img src="{{i.Image.url}}" class="img"></a>
							<p class="p">Language: {{i.Language}}</p>
							<p class="p">Topic: {{i.Type}}</p>
							<p class="p">Release Year: {{i.Year}}</p>
							<p class="p hidden">Release Note:</p>
							<p class="p">{{i.Extra}}</p>

							<audio class="audio mt-3" controls controlslist="nodownload">
								<source src="{{i.Audio.url}}" type="audio/mp3">
							</audio>
						</div>

					</li>

				</ol>
				{% empty %}
				<span class="text-danger empty-record">No Songs Found.</span>
				{% endfor %}

			</section>

			<div class="bottom-card">
				<div class="card-body card-button">
					<button class="btn btn-light" onclick="goBack()">
						<i class="fa-solid fa-angles-left text-blue"></i>
					</button>
					<button class="btn btn-light hidden" onclick="">
						<i class="fa-solid fa-house text-blue"></i>
					</button>
					<button class="btn btn-light" onclick="goNext()">
						<i class="fa-solid fa-angles-right text-blue"></i>
					</button>
				</div>
			</div>

			<div class="row tm-mb-big tm-subscribe-row">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 tm-bg-gray tm-subscribe-form">
					<h3 class="text-primary tm-mb-30">Subscribe our updates!</h3>
					<p class="tm-mb-30">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
						Curae; Morbi semper, ligula et pretium porttitor, leo orci accumsan ligula.</p>
					<form action="index.html" method="POST">
						<div class="form-group mb-0">
							<input type="text" class="form-control tm-subscribe-input" placeholder="Your Email">
							<input type="submit" value="Submit"
								class="tm-bg-pink tm-text-white d-block ml-auto tm-subscribe-btn">
						</div>
					</form>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 img-fluid pl-0 tm-subscribe-img"></div>
			</div>

		</div>
		<footer class="row footer-row">
            <div class="col-xl-12">
                <p class="text-center mt-3 font-weight-bold p-4">
                    <span>Copyright &copy; </span><span class="tm-current-year"></span>
                    <a href="{% url 'frontindex' %}"><span>AUDIOCAD <i class="fa-solid fa-music"></i> - </span></a>
                    <span>Designed by <a href="https://christosajy.github.io/mywebsite/">CHRISTO</a></span>  
                </p>
            </div>
        </footer>

	</div>

	<!-- load JS -->
	<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page-->
	<script>

		$(function () {
			if (renderPage) {
				$('body').addClass('loaded');
			}

			$('.tm-current-year').text(new Date().getFullYear());
		});

		$(document).ready(function () {

			$(".extra-details").hide(); $("#less").hide()

			$("#more").click(function () {
				$(".extra-details").show(); $("#less").show(); $("#more").hide()
			})

			$("#less").click(function () {
				$(".extra-details").hide(); $("#less").hide(); $("#more").show()
			})
		})

		function goBack() {
			window.history.back();
		}

		function goNext() {
			window.history.forward();
		}
	</script>

</body>

</html>