.hidden {
    visibility: hidden;
}

.edit-audio-value {
    margin-left: 320px;
    margin-top: -40px;
}

.edit-audio-btn {
    margin-top: 50px;
}

.form-sample-img {
    width: 70px;
    height: 100px;
    border-radius: 10%;
}

.p-font {
    font-size: 0.791rem;
}

.p-img {
    margin-left: 130px;
    margin-top: -60px
}

audio {
    width: 355px;
}

.display-search-box {
    margin-left: 130px;
    margin-top: -45px;
    width: 855px;
}

.text-blue {
    color: #007BFF;
}

#nav-info {
    background-color: #007BFF;
}

.flex-down {
    border-bottom: 4px solid #007BFF;
}